.aside1{
    margin-bottom: 1rem;
    font-size: 1.25rem;
    color: #242424;
}
.aside2{
    margin-bottom: 1rem;
    color: #575757; 
}

.callToAction {
    padding: 1rem;
    background: white;
    color: grey;
}

.caja2{
    box-sizing: border-box;
    line-height: 1.5;
}

.create{
    margin-bottom: .25rem;
    width: 100%;
    justify-content: center;
}