.bloque-enlaces{
    li{
      list-style: none;
      padding: 8%;
      outline: auto;
      outline-color: lightgray;
      background-color: #fff;
      
      a{
        color: gray;
        &:hover{
          color: blue;
        }
        text-decoration: none;
        
      }
      
      h3{
        color: black;
        &:hover{
          color: blue;
        }
      }
    }
  }