.callToAction {
    padding: 1rem;
    background: white;
    color: grey;
    box-shadow: 0 0 0 1px;
    display: block;
}

.h2-text{
    line-height: 1.25;
    margin-bottom: 1rem;
    font-size: 1.25rem;
    color: #242424;
}
.aside2{
    margin-bottom: 1rem;
    color: #575757; 
}

.caja2{
    box-sizing: border-box;
    line-height: 1.5;
}

.create{
    margin-bottom: .25rem;
    width: 100%;
    justify-content: center;
}

.tags {
    height: 350px;
    width: 100%;
    outline: #b07a7a solid;
    margin-top: 1em;
    border-radius: 8px;
  }

  .flex-col.left {
    
    height: 100%;
    flex: 2;
    display: block;
  }