* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    min-height: 100vh;
    background-color: #eee;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
  }

  .navbar {
    font-size: 18px;
    /* background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%); */
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
  }

  

  .nav-links,
  .logo {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
  }

  .content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  aside.flex-col,
  main {
    height: 100%;
    padding: 1em;
    margin: 1em;
  }

   
/*navbar*/


/*  Itzel y Oswaldo  */
links {
  margin-top: 5px;
}

.links a {
  margin-right: 10px;
  text-decoration: none;
  color: rgb(109, 108, 108);
}

.aqua span {
  color: aqua;
}

.aqua:hover {
  border: 1px solid aqua;
  background-color: rgba(170, 216, 216, 0.37);
  border-radius: 5px;
  padding: 2.5px;
}

.purple span {
  color: purple;
}

.purple:hover {
  border: 1px solid purple;
  background-color: rgba(100, 57, 100, 0.384);
  border-radius: 5px;
  padding: 2.5px;
}

.yellow span {
  color: yellow;
}

.yellow:hover {
  border: 1px solid yellow;
  background-color: rgba(232, 232, 130, 0.404);
  border-radius: 5px;
  padding: 2.5px;
}

.black span {
  color: grey;
}

.black:hover {
  border: 1px solid grey;
  background-color: rgba(128, 128, 128, 0.333);
  border-radius: 5px;
  padding: 2.5px;
}

.icons {
  margin: 10px 20px;
  display: flex;
}

.icons a {
  display: flex;
  text-decoration: none;
  color: grey;
  margin-right: 20px;
}

.icons a i {
  width: 15px;
  margin-right: 5px;
}

.icons a p {
  padding-top: 5px;
  font-size: 15px;
}

.comments {
  padding-top: 5px;
  font-size: 15px;
}

.time {
  font-size: 10px;
  padding-top: 7px;
}

main{
  border-style: solid;
  border-width: medium;
}

.img {
    height: 100%;
    width: 100%;
    
    margin-top: 1em;
    object-fit: cover;
  }

/*  Itzel y Oswaldo  */





  @media screen and (min-width: 980px) {
    

    .main-nav {
      display: flex;
      margin-right: 30px;    
      list-style: none;
    }
  }

.links a{
  margin-right: 10px; 
}


    .nav-toggle{ 
      margin:15px;      
      width: 60px;
      height: 50px;
      top:30px;
      left:20px;
           

    }

    .buttom1{
      color:gray;           
      width: 450px;
      height: 50px;
      padding:15px;
      border:4px solid gray;
      margin: 15px;
      border-radius: 10px;
      position: relative;
      left:50px;
      font-size: 1rem;
           

    } 
    
    .buttom2{
      font-size: 15px;    
      color:gray;
      list-style: none;
      font-size: 15px;      
      padding: 10px;      
      margin:2px;
      width: 150px; 
      border-radius: 10px;
      text-decoration: none;
      position:relative;
      left:750px; 
      top: 19px;

    
       
    }

    .buttom3:hover{
      background-color: rgb(130, 198, 238);
      text-decoration: underline;

    }

    .buttom2:hover {
        background-color: blue;
        color: white; 
        text-decoration: underline;   
   
      }
    .buttom3 {  
      font-size: 15px;      
      background-color: whitesmoke;      
      border: 2px solid blue;
      padding: 12px;
      margin:auto;
      width: fit-content; 
      border-radius: 10px; 
      text-decoration: none; 
      position:relative;
      left:500px;  
      top: 19px; 
    } 
      
      

      

    
      

      

.aqua span{
  color: aqua;
  text-decoration: none;
}




@media screen and (min-width: 980px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin: 20px;
    color: black;
    list-style: none;
  }

  .logo {
    margin-top: 0;
  }

  .navbar-toggle {
    display: flex;
  }

  .logo:hover,
  .nav-links:hover {
    color: rgba(0, 0, 0, 1);
  }

    main {
      flex: 4;
      // outline: red solid;
      height: 100%;
    }
// me toca este
    .flex-col.right {
      //outline: green solid;
      height: 100%;
      flex: 2;
      display: flex;
      font-size: 18px;
      text-decoration: none;
      
     
    }

    .bloque-enlaces{
      li{
        list-style: none;
        padding: 8%;
        outline: auto;
        outline-color: lightgray;
        background-color: #fff;
        
        a{
          color: gray;
          &:hover{
            color: blue;
          }
          text-decoration: none;
          
        }
        
        h3{
          color: black;
          &:hover{
            color: blue;
          }
        }
      }
    }


    /*.tags {
      height: 350px;
      width: 100%;
      outline: #b07a7a solid;
      margin-top: 1em;
      border-radius: 8px;
    }*/

    .img {
        height: 350px;
        width: 100%;
        margin-top: 1em;
        background-size: cover;
        border-radius: 8px;
      }
  }

@import "aside";
  
