* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    min-height: 100vh;
    background-color: #eee;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
  }

  .navbar {
    font-size: 18px;
    /* background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%); */
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
  }

  

  .nav-links,
  .logo {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
  }

  /*.content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  aside.flex-col,
  main {
    height: 100%;
    padding: 1em;
    margin: 1em;
  }

  .flex-col.left,
  .flex-col.right {
    display: none;
  }

  main {
    flex: 1;
    outline: red solid;
    height: 100%;
  }*/
/*navbar*/
  @media screen and (min-width: 980px) {
    /*.navbar {
      display: block;
      background-color: #fff;
      justify-content: space-between;
      padding-bottom: 0;
      height: 90px;
      align-items: center;
      margin-left: auto;
    }*/

    .main-nav {
      display: flex;
      margin-right: 30px;    
      list-style: none;
    }
  }

.links a{
  margin-right: 10px; 
}


    .nav-toggle{ 
      align-items: flex-start;          
      margin-left:50px;                    
      font-size: 40px;      
      color: white;
      background-color:black;
      padding: 15px;      
      border-radius: 10px; 
      position: relative; 
      height: 70px; 
      left:50px;
      top:16px;        

    }

    .buttom1{
      color:gray;
      font-size: 35px;      
      width: 900px;
      height: 75px;
      padding:25px;
      border:4px solid gray;
      margin: 15px;
      border-radius: 10px;
      position: relative;
      left:100px;

           

    } 
    
    .buttom2{
      font-size: 30px;    
      color:gray;
      list-style: none;
      font-size: 30px;      
      padding: 25px;      
      margin:8px;
      width: 52px; 
      border-radius: 10px;
      text-decoration: none;
      position:relative;
      left:1400px; 
      top: 29px;  
    }

    .buttom2:hover{
      background-color: rgb(130, 198, 238);
      text-decoration: underline;

    }

    .buttom3:hover {
        background-color: blue;
        color: white; 
        text-decoration: underline;   
   
      }
    .buttom3 {  
      font-size: 30px;      
      color: blue;
      background-color: whitesmoke;
      padding: 18px;
      border: 3px solid blue;
      margin:auto;
      width: fit-content; 
      border-radius: 10px; 
      text-decoration: none; 
      position:relative;
      left:1400px;  
      top: 29px; } 
      

      

    
      

      

.aqua span{
  color: aqua;
  text-decoration: none;
}



@media screen and (min-width: 980px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin: 20px;
    color: black;
    list-style: none;
  }

  .logo {
    margin-top: 0;
  }

  .navbar-toggle {
    display: none;
  }

  .logo:hover,
  .nav-links:hover {
    color: rgba(0, 0, 0, 1);
  }

    main {
      flex: 4;
      outline: red solid;
      height: 100%;
    }
// me toca este
    .flex-col.right {
      //outline: green solid;
      height: 100%;
      flex: 2;
      display: flex;
      font-size: 18px;
      text-decoration: none;
      
     
    }

    .bloque-enlaces{
      li{
        list-style: none;
        padding: 8%;
        outline: auto;
        outline-color: lightgray;
        background-color: #fff;
        
        a{
          color: gray;
          &:hover{
            color: blue;
          }
          text-decoration: none;
          
        }
        
        h3{
          color: black;
          &:hover{
            color: blue;
          }
        }
      }
    }


    .tags {
      height: 350px;
      width: 100%;
      outline: #b07a7a solid;
      margin-top: 1em;
      border-radius: 8px;
    }

    .img {
        height: 350px;
        width: 100%;
        outline: #d80f0f solid;
        margin-top: 1em;
        border-radius: 8px;
      }
  }

@import "aside";
  
